[submodule ".vim/pack/shapeshed/start/vim-easy-align"]
	path = .vim/pack/plugins/start/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule ".vim/pack/colors/Zenburn"]
	path = .vim/pack/colors/start/Zenburn
	url = https://github.com/jnurmine/Zenburn.git
[submodule ".vim/pack/plugins/start/fugitive"]
	path = .vim/pack/plugins/start/fugitive
	url = https://tpope.io/vim/fugitive.git
[submodule ".vim/pack/plugins/start/taglist"]
	path = .vim/pack/plugins/start/taglist
	url = https://github.com/yegappan/taglist.git
[submodule ".vim/pack/plugins/start/bufkill"]
	path = .vim/pack/plugins/start/bufkill
	url = https://github.com/qpkorr/vim-bufkill.git
[submodule ".vim/pack/plugins/start/ack"]
	path = .vim/pack/plugins/start/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/pack/plugins/start/flake8"]
	path = .vim/pack/plugins/start/flake8
	url = https://github.com/nvie/vim-flake8.git
